.container

  %h2
    %strong Add your image
  = form_for @post, html: { multipart: true } do |f|
    .form-group
      = f.label :picture
      = f.file_field :picture, required: true, class: "form-control"
    .form-group
      = f.label :title
      = f.text_field :title, required: true, class: "form-control", placeholder: "title"
    .form-group
      = f.label :description
      = f.text_field :description, class: "form-control", placeholder: "description"
    .form-group
      = f.label :location
      = f.text_field :location, class: "form-control", placeholder: "CR2 7DZ"
    .form-group
      = f.label :tag_names, 'Tags'
      = f.text_field :tag_names, data: { role: 'tagsinput' }, class: "form-control", placeholder: "tag1 tag2"
    = f.submit class: "btn btn-primary"
