 <div class="border-form-div">

<div class="container">
  <h2 class="primary-dark-color"><strong>Add your image </strong></h2>
  <div id="sign-in-form" class="col-xs-6">

    <%= form_for @post, html: { multipart: true } do |f| %>
      <%= f.label :picture %>
      <%= f.file_field :picture, required: true%>

      <%= f.label :title %>
      <%= f.text_field :title, required: true %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :tag_names, 'Tags' %>
      <%= f.text_field :tag_names, data: { role: 'tagsinput' } %>

      <%= f.submit %>
    <% end %>

  </div>
</div>
