.container
  %br/
  %h2.primary-dark-color
    %strong Add your image
  #sign-in-form.col-xs-6
    = form_for @post, html: { multipart: true } do |f|
      %p
        = f.label :picture
        = f.file_field :picture, required: true
      %p
        = f.label :title
        = f.text_field :title, required: true
      %p
        = f.label :description
        = f.text_field :description
      %p
        = f.label :location
        = f.text_field :location
      %p
        = f.label :tag_names, 'Tags'
        = f.text_field :tag_names, data: { role: 'tagsinput' }
      = f.submit
    %br/