.jumbotron
 .container
  %h1 Instamaker
  %p
   - if user_signed_in? 
    = link_to "Make a Post", new_post_path, class: 'btn btn-primary btn-lg btn-success' 
    = link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-warning btn-lg') 
    = link_to('Edit registration', edit_user_registration_path, class: 'btn btn-warning btn-lg') 
   - else 
    = link_to('Sign in', new_user_session_path, class: 'btn btn-primary btn-lg')    
    = link_to('Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg')  

.container
 - if @posts.any?
  .row
   = render @posts
 - else
  %h2 No posts yet


