!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title Instamaker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags

  %body
    = render 'layouts/navbar' 
    .container-fluid
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{:class => "alert alert-#{name == "notice" ? "success" : "danger"} alert-dismissable"}
            %button.close{"data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
              %span.sr-only Close
            = content_tag :div, msg, :id => "flash_#{name}"             
      = yield
      = render 'layouts/footer'    

/ Modal
#sign-in-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        = render 'layouts/sign_in'